{% extends 'base.html.twig' %}

{% block title %}Quote index{% endblock %}

{% block body %}
    <h1>Quote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Rating</th>
                <th>Validated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.id }}</td>
                <td>{{ quote.text }}</td>
                <td>{{ quote.rating }}</td>
                <td>{{ quote.validated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_quote_show', {'id': quote.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_quote_edit', {'id': quote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_quote_new') }}">Create new</a>
{% endblock %}
