{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Citations{% endblock %}

{% block body %}

<main>
    <div class="main-content">
        <h1>Fiche de citation</h1>
    </div>

    <div class="content">

        <a href="{{ path('app_backoffice_quote_browse') }}"class="btn btn-primary">Retour à la liste</a>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ quote.id }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ quote.text }}</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>{{ quote.rating }}</td>
                </tr>
                <tr>
                    <th>Validated</th>
                    <td>{{ quote.validated ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Utilisateur</th>
                    <td>{{ quote.rating }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_backoffice_quote_edit', {'id': quote.id}) }}"class="btn btn-warning">Modifier</a>

        {% if is_granted("ROLE_ADMIN") %}
            {{ include('backoffice/quote/_delete_form.html.twig') }}
        {% endif %}

    </div>
</main>   

{% endblock %}
