{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Citations en attente{% endblock %}

{% block body %}

<main>
    <div class="main-content">
        <h1>Liste des citations</h1>
    </div>

    <div class="content">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Texte</th>
                    <th>Note</th>
                    <th>Validée</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for quote in validatedFalse %}
                <tr>
                    <td>{{ quote.id }}</td>
                    <td>{{ quote.text|slice(0, 150) }} [...]</td>
                    <td>{{ quote.rating }}</td>
                    
                    <td>{{ quote.validated ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_backoffice_quote_validate', {'id': quote.id}) }}" class="btn btn-success">Valider</a>
                        <div class="mt-3">

                        {% if is_granted("ROLE_ADMIN") %}
                            {{ include('backoffice/quote/_delete_form.html.twig') }}
                        {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de citation trouvée !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    {{ knp_pagination_render(validatedFalse) }}
</main>
    
{% endblock %}
