{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Citations{% endblock %}

{% block body %}

<main class="main">

<h2 class="main__item">Citations</h2>

<div class="row mb-lg-4 justify-content-center">
    
    <div class="col-lg-8">

        {% for quote in pagination %}

        {% include 'partials/_card_quote.html.twig' %}
        
        {% endfor %}

    </div>
    
    
    <div class="col-lg-4">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1">

            <div class="col">
            
                <div class="card  mb-3" style="max-width: 18rem;">
                    <div class="card-header title"><a class="nav-link " aria-current="page" href="{{ path("app_frontoffice_personages_browse") }}">Personnages</a></div>
                    {# TODO en statique en attente de la modifiction de la table perso "principaux" #}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item title">Arthur</li>
                        <li class="list-group-item title">Perceval</li>
                        <li class="list-group-item title">Lancelot</li>
                        <li class="list-group-item title">Leodagan</li>
                        <li class="list-group-item title">Karadoc</li>
                        <li class="list-group-item title">Dame Sélie</li>
                        <li class="list-group-item title"><a class="nav-link " aria-current="page" href="{{ path("app_frontoffice_personages_browse") }}"> Autres Personnages</a></li>
                    </ul>
                    
                </div>   
            
            </div>

            <div class="col">

                <div class="card  mb-3" style="max-width: 18rem;">

                    <div class="card-header title">Saisons</div>
                    <ul class="list-group list-group-flush">
                    {# we loop here to get all our seasons #}
                    {% for season in seasonsList.getSeasons %}
                    <li class="list-group-item title"><a  class="nav-link" href="{{ path("app_frontoffice_season_read", {"id" : season.id }) }}">{{ season.title }}</a></li>
                    {% endfor %}
                    </ul>
                    
                </div>

            </div>

        </div>
    </div>
</div> 

{{ knp_pagination_render(pagination) }}


</main>
{% endblock %}
