{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Citations{% endblock %}

{% block body %}

<main class="main">

<h2 class="main__item">Citations</h2>

<div class="row mb-lg-4 justify-content-center">
    
    <div class="col-lg-8">

        {% for quote in pagination %}
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-end">

                <div class="d-flex" style="color: orange;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <span class="ps-1">{{ quote.rating }}</span>
                </div>

            </div>
            <div class="card-body">
            <i class="bi bi-heart-fill d-flex justify-content-end"></i>
            <blockquote class="blockquote mb-0">
                <p>"{{ quote.text }}"</p>
                <footer class="blockquote-footer"> {{ quote.personage.name }},<cite title="Source Title"> <strong>{{ quote.episode.season.title }}</strong>, {{ quote.episode.title }}.</cite></footer>
            </blockquote>
            </div>
        </div>
        {% endfor %}

    </div>
    
    
    <div class="col-lg-4">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1">

            <div class="col">
            
                <div class="card  mb-3" style="max-width: 18rem;">
                    <div class="card-header title"><a class="nav-link " aria-current="page" href="{{ path("app_frontoffice_personages_browse") }}">Personnages</a></div>
                    {# TODO en statique en attente de la modifiction de la table perso "principaux" #}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item title">Arthur</li>
                        <li class="list-group-item title">Perceval</li>
                        <li class="list-group-item title">Lancelot</li>
                        <li class="list-group-item title">Leodagan</li>
                        <li class="list-group-item title">Karadoc</li>
                        <li class="list-group-item title">Dame Sélie</li>
                        <li class="list-group-item title"><a class="nav-link " aria-current="page" href="{{ path("app_frontoffice_personages_browse") }}"> Autres Personnages</a></li>
                    </ul>
                    
                </div>   
            
            </div>

            <div class="col">

                <div class="card  mb-3" style="max-width: 18rem;">
                {# TODO #}
                    <div class="card-header title">Saisons</div>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item title">Livre I</li>
                        <li class="list-group-item title">Livre II</li>
                        <li class="list-group-item title">Livre III</li>
                        <li class="list-group-item title">Livre IV</li>
                        <li class="list-group-item title">Livre V</li>
                        <li class="list-group-item title">Livre VI</li>
                        <li class="list-group-item title">Premier Volet</li>
                    </ul>
                    
                </div>

            </div>

        </div>
    </div>
</div> 

{{ knp_pagination_render(pagination) }}


</main>
{% endblock %}
