
{# This is a partial, you can use it wherever you want with: {% include '_card_quote.html.twig' %} #}

<div class="card mb-3">
    <div class="card-header d-flex justify-content-end">

        <div class="d-flex" style="color: orange;">
            {% set rating = quote.rating %}
                    {# round(0,'floor') give the round number whith zero decimal so it give us the number of the full stars. 0 number after the coma #}
                    {% set biStarFill = rating|round(0, 'floor') %}
                    {# if rating is a float between an integer+0.5 and the next integer "biStarHalf" #}
                    {% set biStarHalf = rating - biStarFill >= 0.5 %}
                    {% set biStar = 5 - biStarFill - (biStarHalf ? 1 : 0) %}

                {% for i in 1..5 %}
                    {% if i <= biStarFill %}
                        {{ '<i class="bi bi-star-fill"></i>' }}
                    {% elseif i == biStarFill + 1 and biStarHalf %}
                        {{ '<i class="bi bi-star-half"></i>' }}
                    {% else %}
                        {{ '<i class="bi bi-star"></i>' }}
                    {% endif %}
                {% endfor %}

            {# renders the number next to the stars, 1 is one number after the coma #}
            <span class="ps-1">{{ quote.rating|round(1, 'floor')  }}</span>
                  
        </div>

    </div>

    <div class="card-body">
    
        <blockquote class="blockquote mb-0">
            <p>"{{ quote.text }}"</p> 
                
                {# We check if the user is connected, because if not, he can't put quotes in favorite #}
                {% if is_granted("ROLE_USER") %}

                                {% set isFavorite = false %}
                    {% for userFav in quote.users %}
                            {% if currentUser.getUser == userFav %}
                                {% set isFavorite = true %}
                            {% endif %}
                    {% endfor %}
                     
                    {% if isFavorite %}
                       <a href="{{ path('app_frontoffice_quotes_removeFavorite', {quoteId: quote.id}) }}"  class="bi bi-bookmark-heart-fill fs-1 d-flex justify-content-end"></a>
                    {% else %}
                       <a href="{{ path('app_frontoffice_quotes_addFavorite', {quoteId: quote.id}) }}" class="bi bi-bookmark-heart fs-1 d-flex justify-content-end"></a>
                    {% endif %}

                  
                {% endif %}
               
            
            <footer class="blockquote-footer"> {{ quote.personage.name }},<cite title="Source Title"> <strong>{{ quote.episode.season.title }}</strong>, {{ quote.episode.title }}.</cite></footer>
                {# We check if the user is connected, because if not, he can't rate the quote #}
                {% if is_granted("ROLE_USER") %} 
                    {% set isRating = false %}

                    {% for key, userRate in quote.rates %}
                        {% if currentUser.getUser == userRate.user %}
                            {% set isRating = true %}
                        {% endif %}
                    {% endfor %}
                     
                    {% if isRating %}
                       <p class="btn btn-outline-secondary d-flex justify-content-end">Vous avez déjà noté cette Citation</a>
                    {% else %}
                       <a href="{{ path('user_add_rating_quote', {quoteId: quote.id})}}" class="btn btn-outline-secondary d-flex justify-content-end">Donner une Note à cette Citation</a>
                    {% endif %}

                {% endif %}

        </blockquote>
    </div>
</div>