{# we check if the number of pages is > 1 because if not, there's no need for a pagination #}
{% if pages > 1 %} 

<nav class="pagination">
    <ul class="pagination justify-content-center">

            {# if currentPage is 1, you can't go further! #}
            {% if currentPage > 1 %}
                <li class="page-item">
                    {# This is the "to the left" page, it goes to the currentPage - 1. "path" is the variable we set in the index #}
                    <a href="{{ path(path, {page: currentPage - 1}) }}" class="page-link">&lt;</a>
                </li>
            {% else %}
                {# if currentPage is 1, the "to the left" is disabled, and we don't need the "href" #}
                <li class="page-item disabled">
                    <a class="page-link">&lt;</a> 
                </li>
            {% endif %}

            {# the "1.." indicates we start at 1 until number of pages is hit #}
            {% for page in 1..pages %}
            <li class="page-item {{ (page == currentPage) ? 'active' : '' }}">
                <a href="{{ path(path, {page: page}) }}" class="page-link">{{ page }}</a>
            </li>           
            {% endfor %}

            {# if currentPage is < pages (total), you can't go further! #}
            {% if currentPage < pages %}
                <li class="page-item">
                    {# This is the "to the left" page, it goes to the currentPage - 1. "path" is the variable we set in the index #}
                    <a href="{{ path(path, {page: currentPage + 1}) }}" class="page-link">&gt;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&gt;</a> 
                </li>
            {% endif %}

        </li>

    </ul>
</nav>

{% endif %}
