{% extends 'base.html.twig' %}

{% block title %}Fiche personnage{% endblock %}

{% block body %}
    <h1>Fiche personnage</h1>

    <a href="{{ path('app_backoffice_personage_browse') }}"class="btn btn-primary">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personage.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ personage.picture }}</td>
            </tr>
            <tr>
                <th>Description de l'image</th>
                <td>{{ personage.descriptionPicture }}</td>
            </tr>
            <tr>
                <th>Description du personnage</th>
                <td>{{ personage.description }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('app_backoffice_personage_edit', {'id': personage.id}) }}"class="btn btn-warning">Modifier</a>

    {{ include('backoffice/personage/_delete_form.html.twig') }}
{% endblock %}
