{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Recherche{% endblock %}

{% block body %}
<main>
    <div class="main-content">
        <h1>Résultats de " {{ search }} " classés par nom du personnage</h1>
    </div>

    <div class="content">
        <a href="{{ path('app_backoffice_home') }}" class="btn btn-primary">Retour à l'accueil</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom du personnage</th> 
                    <th>Citation</th>
                    <th>Titre de l'épisode</th>
                    <th>Saison</th> 
                </tr>
            </thead>
            <tbody>
            {% for quote in pagination %}
                <tr>
                    <td><a href="{{ path('app_backoffice_personage_read', {'id': quote.idPersonage}) }}" class="searchLinks">{{ quote.name }}</a></td> 
                    <td><a href="{{ path('app_backoffice_quote_read', {'id': quote.id}) }}" class="searchLinks">{{quote.text|slice(0, 150) }} [...]</a></td>
                    <td><a href="{{ path('app_backoffice_episode_read', {'id': quote.idEpisode}) }}" class="searchLinks">{{ quote.titleEpisode }}</a></td>
                    <td><a href="{{ path('app_backoffice_season_read', {'id': quote.idSeason}) }}" class="searchLinks">{{ quote.titleSeason }}</a></td> 
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas de résultat.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}  
</main>
{% endblock %}
