{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Questions{% endblock %}

{% block body %}
<main>
    <div class="main-content">
        <h1>Liste des Questions</h1>
    </div>
    <div class="content">
        <a href="{{ path('app_backoffice_question_add') }}" class="btn btn-primary">Ajouter une question</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titre de la question</th>
                    <th scope="col">Réponse 1</th>
                    <th scope="col">Réponse 2</th>
                    <th scope="col">Réponse 3</th>
                    <th scope="col">Réponse 4</th>
                    <th scope="col">Bonne réponse</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <th scope="row">{{ question.id }}</td>
                    <td>{{ question.title }}</td>
                    <td>{{ question.answer1 }}</td>
                    <td>{{ question.answer2 }}</td>
                    <td>{{ question.answer3 }}</td>
                    <td>{{ question.answer4 }}</td>
                    <td>{{ question.goodAnswer }}</td>
                    <td>
                        <a href="{{ path('app_backoffice_question_read', {'id': question.id}) }}" class="btn btn-success">Voir</a>
                        <a href="{{ path('app_backoffice_question_edit', {'id': question.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas de question trouvée !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>   
{% endblock %}
