{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Accueil{% endblock %}

{% block body %}
<main  class="p-3">
    <div class="text-center mb-3">
    
    {# todo dynamiser la page quand on aura la BDD fonctionnelle il faut aussi gérer rating et favorite #}

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <h6> La citation du moment </h6> 
            <div class="d-flex" style="color: orange;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span class="ps-1">{{ randomQuote.rating }}</span>
            </div>

        </div>
        <div class="card-body">
        <i class="bi bi-heart-fill d-flex justify-content-end"></i>
        <blockquote class="blockquote mb-0">
            <p>"{{ randomQuote.text }}"</p>
            <footer class="blockquote-footer"> {{ randomQuote.name }},<cite title="Source Title"> <strong>{{ randomQuote.titleSeason}}</strong>, {{ randomQuote.titleEpisode}}.</cite></footer>
        </blockquote>
        </div>
    </div>

    
    {# <p class="citation">“ {{ randomQuote.text }} ”</p>
    <h6 class="name">Dame Sélie</h6>
    </div> #}

    <div class="text-center">
    <img class="img-fluid" src="./img/kamelott.jpeg">
    </div>

    <div class="text-center"> 
    <p class="citation">“ Ah y a pas à dire, dès qu'il y a du dessert, le repas est tout de suite plus chaleureux ! ” </p> <h6 class="name">Arthur Pendragon</h6>
    </div>
</main>

{% endblock %}
