{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Modification{% endblock %}

{% block body %}


<main  class="p-3">
    <div class="text-center mb-3">
    
    <h2 class="main__item">Modification</h2>
  
    <div class="card mt-3 mb-3"> 
        <div class="card-body text-bg-secondary">
        {{ form_start(form) }}
            {# find a better way to do this because you can still modify the email with the inspector #}
            {{ form_row(form.email) }}
            
            {{ form_row(form.plainPassword) }}
                <div class="text-start">
                {{ form_row(form.avatar) }}
                </div>
            <button type="submit" class="btn btn-outline-light">Valider</button>
        {{ form_end(form) }}
   
       
        </div>
    </div>

</main>
{% endblock %}